<section data-ng-controller="MoviesController">
	<div class="page-header">
		<h1>New Movie</h1>
	</div>
	<div class="col-sm-10 col-sm-offset-1">
		<div class="row well bs-component">
			<form ng-submit="create()"
			      class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-url">
				<legend>&nbsp;
					<div class="col-md-2">Add Movie</div>
					<div class="col-md-8"><p class="text-info ng-binding"></p></div>
				</legend>
				<fieldset>
					<div class="form-group">
						<label for="movieTitle" class="col-sm-3 control-label">Title</label>
						<div class="col-sm-8">
							<input id="movieTitle" type="text" required="" class="form-control" name="title"
							       placeholder="Title" ng-model="movie.title">
						</div>
					</div>
					<div class="form-group">
						<label for="storyLine" class="col-sm-3 control-label">Story Line</label>
						<div class="col-sm-8">
								<textarea id="storyLine" placeholder="Story Line" name="storyLine"
								          ng-model="movie.description" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="language" class="col-sm-3 control-label">Language</label>

						<div class="col-sm-8">
							<select id="language" ng-model="movie.language" required="" class="form-control"
							        ng-options="language.name for language in metaInfo.languages"></select>
					</div>
					<div class="form-group">
						<label for="genre" class="col-sm-3 control-label">Genre</label>
						<div class="col-sm-8">
							<select id='genre' name="genre" ng-model="movie.genre" class="form-control"
							        multiple required ng-options="genre.name for genre in metaInfo.genres"></select>
						</div>
					</div>
					<div class="form-group">
						<label for="releaseDate" class="col-sm-3 control-label">Release Date</label>
						<div class="col-sm-8">
							<input id="releaseDate" type="date" placeholder="Release Date"
							       name="releaseDate" ng-model="movie.releaseDate" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="movieStatus" class="col-sm-3 control-label">Status</label>
						<div class="col-sm-8">
							<select id='movieStatus' name="Status" ng-model="movie.status" class="form-control"
							        required ng-options="state for state in metaInfo.states"></select>
						</div>
					</div>
					<div class="form-group">
						<label for="youtubeUrl" class="col-sm-3 control-label">Youtube</label>
						<div class="col-sm-8">
							<input id="youtubeUrl" type="url" placeholder="Youtube Url" name="youtubeUrl"
							       required ng-model="movie.youtubeUrl" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="tags" class="col-sm-3 control-label">Tags</label>
						<div class="col-sm-8">
							<input id="tags" type="text" required="" class="form-control" name="tags"
							       placeholder="Title" ng-model="movie.tags">
							<i class="text-muted">Comma separated words</i>
						</div>
					</div>
				</fieldset>
				<div class="form-group clearfix">
					<div class="col-sm-2 pull-right">
						<button id="submit" type="submit" class="form-control btn btn-success">Create Movie</button>
					</div>
					<div class="col-sm-2 pull-right">
						<button id="reset" type="reset" class="form-control btn btn-danger">Reset</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
