<section data-ng-controller="MoviesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Movies</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="movie in movies" data-ng-href="#!/movies/{{movie._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="movie.created | date:'medium'"></span>
				by
				<span data-ng-bind="movie.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="movie.title"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!movies.$resolved || movies.length">
    	No Movies yet, why don't you <a href="/#!/movies/create">create one</a>?
    </div>
</section>