<section data-ng-controller="OpportunitiesController">
    <div class="page-header">
        <h1>New Opportunity</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <!--<div class="form-group">
                    <label class="control-label" for="title">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control input-md" placeholder="Title" required>
                    </div>
                </div>
]-->
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="title">Title</label>
                    <div class="col-md-5">
                        <input id="title" name="title" data-ng-model="title" type="text" placeholder="Title" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="summary">summary</label>
                    <div class="col-md-4">
                        <textarea class="form-control" data-ng-model="summary" id="summary" name="summary">summary</textarea>
                    </div>
                </div>

                <!-- Select Multiple -->
               <div class="form-group">
                    <label class="col-md-4 control-label" for="roles">Roles</label>
                    <div class="col-md-4">
                        <ui-select multiple id="roles" name="roles" data-ng-model="roles" >
                            <ui-select-match placeholder="Select a user ...">{{$select.selected}}
                            </ui-select-match>
                            <ui-select-choices repeat="role in metaInfo.crewTypes">
                                <span ng-bind-html="role | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="project">project</label>
                    <ui-select id="project" theme="select2"  data-ng-model="project" name="project" class="col-md-4" >
                        <ui-select-match>{{$select.selected.title}}
                        </ui-select-match>
                        <ui-select-choices repeat="project in userProjects">
                            <span ng-bind-html="project.title | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>


                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="location">location</label>
                    <div class="col-md-4">
                        <input id="location" name="location" data-ng-model="location" type="text" placeholder="location" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Valid Till">Valid Till</label>
                    <div class="col-md-4">
                        <input id="Valid Till" name="Valid Till" type="date" placeholder="Valid Till" class="form-control input-md">
                    </div>
                </div>


                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>



            </fieldset>
        </form>
    </div>
</section>
