<section data-ng-controller="OpportunitiesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Opportunity</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="opportunity.title" id="name" class="form-control" placeholder="Title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea data-ng-model="opportunity.description" id="description" class="form-control" placeholder="Description" required></textarea>
                    </div>
                </div>
                <!-- Can make a directive for iterating-->
                <div class="form-group">
                    <label class="control-label" for="phone">Phone</label>
                    <div class="controls">
                        <input type="text" data-ng-model="opportunity.phone" id="phone" class="form-control" placeholder="Phone" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="contact-person">Contact Person</label>
                    <div class="controls">
                        <input type="text" data-ng-model="opportunity.contact_person" id="contact-person" class="form-control" placeholder="Contact Person Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" data-ng-model="opportunity.email" id="email" class="form-control" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="website">Website</label>
                    <div class="controls">
                        <input type="text" data-ng-model="opportunity.website" id="website" class="form-control" placeholder="Website" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="location">Location</label>
                    <div class="controls">
                        <input type="text" data-ng-model="opportunity.location" id="location" class="form-control" placeholder="Location" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="created">Created</label>
                    <div class="controls">
                        <input type="date" data-ng-model="opportunity.created" id="created" class="form-control" placeholder="Created" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>