<section data-ng-controller="GenresController" data-ng-init="find()">
    <div class="page-header">
        <h1>Genres</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="genre in genres" data-ng-href="#!/genres/{{genre._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="genre.createdDate | date:'medium'"></span>
				by
				<span data-ng-bind="genre.createdBy.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="genre.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!genres.$resolved || genres.length">
    	No Genres yet, why don't you <a href="/#!/genres/create">create one</a>?
    </div>
</section>
