.box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: white;
    margin-bottom: 20px;
}

.box-body {
    padding: 10px;
}

.box-footer {
    padding: 8px 15px;
    background: #f6f6f6;
    border-top: 1px solid #e6e6e6;
    text-shadow: 0 1px 0 #fff;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.movie a{
    text-decoration: none !important;
}

.movie.box img {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.movie .box-body .header {
    text-transform: capitalize;
    color: #1abc9c;
    font-size: 22px;
    margin-top: 10px;
    text-decoration: none;
    height: 45px;
}

.movie .box-body p{
    font-size: 13px;
}

.movie .box-body .read-more {
    font-size: 13px;
    color: #1abc9c;
}

.movie .filters li a{
    color: #787878;
}

.voting-section {
    float: left;
    width: 7%;
    min-width: 70px;
    max-width: 120px;
    margin-top: 50px;
    margin-right: 10px;
}
.voting-section > div.btn{
    font-size: 1.4em;
    margin-bottom: 15px;
}

.margin-bottom-10 {
    margin-bottom: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}

.hr-bottom{
    border-bottom: 1px solid #ccc;
}

.hr-top{
    border-top: 1px solid #ccc;
}

.white-box-panel, .white-box{
    border-radius: 3px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    position: relative;
}

.white-box-panel {
    padding: 0;
}

.white-box-panel .header{
    background: #1abc9c;
    padding: 15px;
    color: white;
}
.white-box-panel .body{
    padding: 10px 0;
}
.white-box-panel .body.padded{
    padding: 10px;
}